{% extends "layout_admin.html" %}
{% set active_page = "admin_viewddbb" %}
{% block main_content %}

<div class="container">
  <div class="ddbb_container">

    <div class="login_title">
      <h1>DDBB view: Delete Media</h1>
    </div>

    <table class="table table-striped table-hover table_viewddbb">
      <thead>
        <tr>
          <th scope="col">Media ID</th>
          <th scope="col">Title</th>
          <th scope="col">SRC route</th>
          <th scope="col">Type ID</th>
          <th scope="col">Type</th>
          <th scope="col">Source ID</th>
          <th scope="col">Source</th>
          <th scope="col">Category ID</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        {% for row in data %}
          <tr>
            <td class="table_row_text">{{ row[0] }}</td>
            <td class="table_row_text">{{ row[1] }}</td>
            <td class="table_row_text">{{ row[2] }}</td>
            <td class="table_row_text">{{ row[3] }}</td>
            <td class="table_row_text">{{ row[4] }}</td>
            <td class="table_row_text">{{ row[5] }}</td>
            <td class="table_row_text">{{ row[6] }}</td>
            <td class="table_row_text">{{ row[7] }}</td>
            <td class="table_row_text">{{ row[8] }}</td>
            <td>
              <form action="/admin_viewddbb/delete" method="POST">
                <input type="hidden" name="media_id" value="{{ row[0] }}">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>

{% endblock %}
