{% extends "layout_admin.html" %}
{% set active_page = "admin_landing" %}
{% block main_content %}
  <div class="main_web_content">
    <div class="content_title">
      <h1>Welcome to the admin page</h1>
    </div>
    
    <!--Using Layout Grids from Bootstrap: https://getbootstrap.com/docs/5.3/layout/grid/#example-->
    <div class="icons_container_external">
      <div class="grid text-center icons_container">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col">
              <button type="submit" name="submit_add" value="add" class="btn button_selection follow-btn"><img
                  class="icon_selection" src="/static/media/icons/add.png" alt="add_icon"><span
                  class="icon_text">Add Media</span></button>
            </div>
            <div class="col">
              <button type="submit" name="submit_update" value="update" class="btn button_selection"><img
                  class="icon_selection" src="/static/media/icons/update.png" alt="update_icon"><span
                  class="icon_text">Update Media URL</span></button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" name="submit_delete" value="delete" class="btn button_selection"><img class="icon_selection"
                  src="/static/media/icons/delete.png" alt="delete_icon"><span class="icon_text">Delete Media</span></button>
            </div>
            <div class="col">
              <button type="submit" name="submit_viewddbb" value="viewddbb" class="btn button_selection"><img class="icon_selection"
                  src="/static/media/icons/database.png" alt="viewddbb_icon"><span class="icon_text">View Media Data</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>



{% endblock %}
