{% extends "layout.html" %}
{% block main_content %}
<!--this is where admin input the username-->
<form>
    <div class="mb-3">
      <label for="exampleInputusername1" class="form-label">Username</label>
      <input type="username" class="form-control" id="exampleInputusername1" aria-describedby="usernameHelp">
      <div id="usernameHelp" class="form-text">For admin only</div>
    </div>
    <div class="mb-3">
<!--        password input -->
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <!-- <div class="mb-3 form-check">
<!--extra tickbox - could use this as a remember me section? could delete
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div> -->
    <!-- submit section -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}









