{% extends "layout.html" %}
{% block main_content %}

<div class="container">
  <div class="ddbb_container">

    <div class="login_title">
      <h1>DDBB view: Media</h1>
    </div>

    <form action="/admin_viewddbb" method="POST">
      <table class="table table_viewddbb">
        <thead>
          <tr>
            <th scope="col">Media ID</th>
            <th scope="col">Title</th>
            <th scope="col">SRC route</th>
            <th scope="col">Type ID</th>
            <th scope="col">Type</th>
            <th scope="col">Source ID</th>
            <th scope="col">Source</th>
            <th scope="col">Category ID</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        
        <tbody>
                 {% for row in data%}
            <tr>
            <th scope="col">{{ row[0] }}</th>
            <th scope="col">{{ row[1] }}</th>
            <th scope="col">{{ row[2] }}</th>
            <th scope="col">{{ row[3] }}</th>
            <th scope="col">{{ row[4] }}</th>
            <th scope="col">{{ row[5] }}</th>
            <th scope="col">{{ row[6] }}</th>
            <th scope="col">{{ row[7] }}</th>
            <th scope="col">{{ row[8] }}</th>
            </tr>
            {% endfor %}
      
        </tbody>
      </table>
    </form>
  </div>
</div>



{% endblock %}