{% extends "layout.html" %}
{% block main_content %}

<div class="container">
  <div class="login_container">

    <div class="login_title">
      <h1>Delete Media</h1>
    </div>

    {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="/admin_delete" method="POST" class="admin_login_form">
      {{ form.hidden_tag() }}
      <div class="mb-3">
          <label class="form-label">Media ID</label>
          <input type="number" class="form-control" id="media_id" name="media_id">
      </div>

      <!-- WORKING IN PROGRESS -->
      <!-- <h5>Review the details of the item to be deleted and confirm:</h5>

      <table class="table table-striped table_viewddbb">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
      
        <tbody class="table-group-divider">
          <tr>
            <th scope="col">Media ID</th>
            <th scope="col">{{ data[0] }}</th>
          </tr>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">{{ data[1] }}</th>
          </tr>
          <tr>
            <th scope="col">SRC route</th>
            <th scope="col">{{ data[2] }}</th>
          </tr>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">{{ data[4] }}</th>
          </tr>
          <tr>
            <th scope="col">Source</th>
            <th scope="col">{{ data[6] }}</th>
          </tr>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">{{ data[8] }}</th>
          </tr>
      
        </tbody>
      </table> -->

      <button type="submit" class="btn btn-danger submit_button_form" name="submit_delete">Delete</button>
    </form>
  </div>
</div>




{% endblock %}
