{% extends "layout.html" %}
{% set active_page = "media" %}
{% block main_content %}

<!--Using Container from Bootstrap: https://getbootstrap.com/docs/5.3/layout/containers/#how-they-work -->
  <div class="container">

    <div class="content_title">
      <h1>Select Media Type</h1>
    </div>

    <!--Using Layout Grids from Bootstrap: https://getbootstrap.com/docs/5.3/layout/grid/#example-->
    <div class="icons_container_external">
      <div class="grid text-center icons_container">
        <form method="POST">
              {{ form.hidden_tag() }}
          <div class="row">
            <div class="col">
              <button type="submit" name="submit_sound" value="sound" class="btn button_selection follow-btn"><img class="icon_selection"
                    src="/static/media/icons/sound.png" alt="sound_icon"><span class="icon_text">Sound</span></button>
            </div>
            <div class="col">
              <button type="submit" name="submit_video" value="video" class="btn button_selection"><img class="icon_selection"
                    src="/static/media/icons/video.png" alt="video_icon"><span class="icon_text">Video</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>

{% endblock %}
