{% extends "layout.html" %}
{% set active_page = "home" %}
{% block main_content %}

<!-- This is the code that enables the slide function of the carousel. We only give one slide an active element in order to enable visibility of the slides -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <!-- class "carousel-button-styles" is to remove the pinkish shadow at the bottom of the carousel buttons -->
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="carousel-button-styles" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active carousel-button-styles" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="carousel-button-styles"></button>
  </div>
  <!-- code for slide one of the carousel. -->
  <div class="carousel-inner">
    <div class="carousel-item carousel-image-div active" >
      <img class="d-block w-100 carousel-image" src="static/media/background/v2-counting_sheep.jpeg"  alt="First slide">
      <div class="container">
        <div class="carousel-caption ">
            <h1><span class="slide_one_text ">Stop Counting Sheep</span></h1>
            <h1><span class="slide_one_text ">Get Your Forty Winks!</span></h1>
        </div>
      </div>
    </div>
            <!-- code for slide 2 of the carousel -->
    <div class="carousel-item carousel-image-div">
      <img class="d-block w-100 carousel-image" src="static/media/background/dogs-sleep.jpg"  alt="second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1><span class="slide_two_text">Good Sleep is a Mans (and womans!) bestfiend</span></h1>
          <p><a class="btn btn-lg btn-primary" id="link_button" href="/select_type">Check out tunes &#127926; </a></p>
        </div>
      </div>
    </div>
            <!-- code for slide 3 of the carousel -->
    <div class="carousel-item ">
      <img class="d-block w-100 carousel-image" src="static/media/background/v2-office.jpeg" alt="third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1><span class="slide_three_text">Monday Mornings</h1>
          <h1><span class="slide_three_text">Without Forty Winks</h1>
          <!-- <p>Some representative placeholder content for the third slide of this carousel.</p> -->
          <p><a class="btn btn-lg btn-primary" id="link_button" href="/tips">Tips to save your sleep</a></p>
        </div>
      </div>
    </div>
  </div>
  
          <!-- functionality for the next/previous arrow/buttons of the carousel -->
  <button class="carousel-control-prev carousel-button-styles" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next carousel-button-styles" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrapped the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 title_first_featurette" >Welcome to Forty Winks! <span class="text-body-secondary"></span></h2>
      <p class="lead"><em>Falling asleep isn't always easy. </em></p>
      <p class="lead"><em>From coding bugs to CSS missbehaved flex alignments or just having too much coffee, we have all been there.</em></p>
      <p class="lead"><em>But Forty Winks is here to knock you out! <span
            id="wink_emoji">&#x1F609;</span>.</em></p>
      <p class="lead"><em>Our team of experts is always looking out for the latest trends, gadgets and tips. We also highly focus on testing them, so when we are not sleeping we are working hard to make new content available to you!</em></p>
      <p class="lead"><em>We have gathered for you the most efficient content that can change your sleeping patterns, such as calming audio, sleep inducing videos and sleeping tips and tricks that you will be out like a light.</em></p>
    
    </div>
    <div class="col-md-5">
      <div class="gif_container">  
        <div class="gif_subcontainer">    
          <iframe src="https://giphy.com/embed/l3q2ICbdSmDqnlxC0" width="500" height="500"     frameBorder="0" class="giphy-embed sheep_counter d-block w-100" allowFullScreen></iframe>
        </div>  
      </div>  
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Sing me a river</h2>
      <p class="lead"><em>Enjoy the sounds of waves, rainfalls and more as you doze off into the abyss.</em></p>
      <p class="lead"><em>There is growing interest in using sounds such as music and white noise to reduce the effects of environmental noise. Using sound to improve sleep is an easy, low-cost method with few known side effects. Research so far demonstrates that certain sounds may help people relax for sleep and improve sleep quality, so it’s worth examining how to do so, as well as what sounds work best for sleep.</em></p>
      <p class="lead"><em>The best sound to fall asleep to depends on your personal preference, as well as your sleep environment and the nature of your sleep problems.</em></p>
      <p class="lead"><em>Check out our media section where you can pick videos and playlists with rain, wave, whales, white noise, brown noise and instrumental tracks. </em></p>
      <p class="lead"><em>Tip: Be sure to turn off notifications to ensure you have no interruptions!</em></p>
      <p><a class="btn btn-lg btn-primary" id="link_button" href="/select_type">Check out tunes &#127926; </a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="d-block w-100 featurette-image" src="static/media/background/carousel_pic.jpeg"  width="500" height="500" xmlns="http://www.w3.org/2000/svg"> 
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">We Want to Hear From You! <span class="text-body-secondary"></span></h2>
      <p class="lead"><em>Are you missing any specific categories in our media section?</em></p>
      <p class="lead"><em>Would you like our experts to focus on a specific subject?</em></p>  
      <p class="lead"><em>Looking to collaborate with Forty Winks?</em></p>
      <p class="lead"><em>Your dreams came true, we are easy to reach!</em></p>

      <p class="lead"><em>Whether you've got any questions to ask or just a simple request to add a playlist to our platform, contact us on the link below. </em></p>

      <p class="lead"><em>No questions will go unanswered and we are always keen in receiving feedback to improve so don't snooze away from contacting us! </em></p>

      <p class="lead"><em>In our contact section, you can find our details to reach out and also a quick contact form to send us any query or request. We aim to respond within 5 to 7 working days.</em></p>
   
      <p><a class="btn btn-lg btn-primary" id="link_button" href="/contact">Contact Us</a></p>
    </div>
    <div class="col-md-5">
      <img class="d-block w-100 featurette-image" src="static/media/background/square-sheep.jpeg"  width="500" height="500" xmlns="http://www.w3.org/2000/svg">
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->



{% endblock %}

