{% extends "layout.html" %}
{% block main_content %}
<div class="container">

  <div class="content_title" id="sheep_counter_title">
    <h1>Sheep Counter</h1>
  </div>

  <!--Using Layout Grids from Bootstrap: https://getbootstrap.com/docs/5.3/layout/grid/#example-->
  <div class="gif_container">
  <div class="gif_subcontainer">
    <iframe src="https://giphy.com/embed/l3q2ICbdSmDqnlxC0" width="100%" height="100%" style="position:absolute"
      frameBorder="0" class="giphy-embed sheep_counter" allowFullScreen></iframe></div>
  </div>
  </div>

</div>

{% endblock %}