{% extends "layout.html" %}
{% set active_page = "tips" %}
{% block main_content %}

    
    <div class="tips_title">
        <h1>Best Tips For Sleep</h1>
    </div>

<!-- https://getbootstrap.com/docs/5.3/components/accordion/ -->
<div class="accordion" id="accordionPanelsStayOpenExample">
     
  <!-- FIRST ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Health</button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h3 class="article_heading">Why Sleep Is Essential For Health</h3>
          Getting enough sleep is essential for maintaining optimal health and well-being. Like exercise and a balanced diet, sleep may help prevent a range of health issues, including heart disease and depression. 
        <br>
        <br>
          Modern-day living in the United States and many other countries does not always embrace the necessity for adequate sleep. Yet, it is important that people make an effort to get enough sleep regularly.The following are some of the many benefits health professionals associate with getting a good night’s rest.
        <br>
        <br>
        <h3>1. Better Memmory & Performace</h3>
          A 2017 studyTrusted Source looked into the short and long-term health consequences of sleep disruption.

          Researchers noted that sleep has links to several brain functions, including:

          <strong>Memory:</strong> Sleep disruption may affect memory processing and formation.
          <strong>Performance:</strong> People’s performance at work, school, and other settings is affected by sleep disruption. This includes focus, emotional reactivity, decision-making, risk-taking behavior, and judgment.
          <strong>Cognition:</strong> By affecting stress hormones, sleep disruption may affect cognition.

          A 2015 study in the Journal of Child Psychology and PsychiatryTrusted Sourceshowed that children’s sleep patterns could directly impact their behavior and academic performance.

      </div>
    </div>
  </div>

  <!-- SECOND ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">Health</button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h3 class="article_heading">Mental Health And Sleep</h3>
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <!-- THIRD ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">Tips </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h3 class="article_heading">Tips For Creating A Bedtime Routine</h3>
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <!-- FOURTH ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">Tips</button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h3 class="article_heading">8 Secrets To A Good Nights Sleep</h3>
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <!-- FOURTH ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">Scientific Studies</button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h3 class="article_heading">The Extrodinary Importance Of Sleep</h3>
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  
</div>


{% endblock %}