{% extends "layout.html" %}
{% set active_page = "tips" %}
{% block main_content %}

<div class="container">
  <h1 class="text-center mb-5">Sleeping Tips</h1>

  <div class="accordion" id="accordionPanelsStayOpenExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Minimize Your Screen Time
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
        <div class="accordion-body">
          <p>Electronic devices with screens such as smartphones, tablets, laptops, and televisions emit blue light. This light can <a href="https://pubmed.ncbi.nlm.nih.gov/30311830/">suppress the production of melatonin</a>, the sleep hormone, and make falling asleep more difficult. Recent studies suggest that using screen devices for two hours or longer in the evening can impact your sleep<p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Practice Stress Relief Techniques
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
        <div class="accordion-body">
          <p>Stress due to work, family life, and other factors has been linked to trouble relaxing at bedtime. Whether you enjoy meditating, a bedtime yoga routine, or a<a href="https://pubmed.ncbi.nlm.nih.gov/31102877/"> warm evening bath</a>, finding ways to alleviate stress may help you fall asleep more easily. If a racing mind is keeping you up at night, it may help to jot down your thoughts on paper so you can mentally shelve your obligations until the morning.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Start A Sleep Ritual
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
        <div class="accordion-body">
          <p>When you were a child and your mother read you a story and tucked you into bed every night, this comforting ritual helped lull you to sleep. Even in adulthood, a set of bedtime rituals can have a similar effect. Rituals help signal the body and mind that it's coming to be time for sleep. Drink a glass of warm milk. Take a bath. Or listen to calming music to unwind before bed.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Stronger Immune System
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionPanelsStayOpenExample">
        <div class="accordion-body">
          <p>Sleep helps the body repair, regenerate, and recover. The immune system is no exception to this relationship. Some research suggests that deep sleep is neccessaryTrusted Source for the body to repair itself and strengthen the immune system.</p>
          <p>However, scientists still need to do further research into the exact mechanisms of sleep in regards to its impact on the body’s immune system.</p>
        </div>
      </div>
    </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Avoid Stimulants
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionPanelsStayOpenExample">
      <div class="accordion-body">
        <p>Smoking and drinking alcohol can both disrupt your sleep cycle, albeit in different ways. Nicotine, like caffeine, is a stimulant that elevates feelings of arousal and wakefulness. This is true of smoking, as well as nicotine patches<p> <p>Quitting smoking is also associated with sleep problems, but these issues typically clear up within a few weeks. By contrast, many people fall asleep more quickly after consuming alcohol, but sleep problems may occur later in the night after the alcohol has been metabolized.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Get Regular Exercise
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionPanelsStayOpenExample">
      <div class="accordion-body">
        <p>Going for a brisk daily walk won't just trim you down, it will also keep you up less often at night. Exercise boosts the effect of natural sleep hormones such as melatonin. A study in the journal Sleep found that postmenopausal women who exercised for about three-and-a-half hours a week had an easier time falling asleep than women who exercised less often.</p> 
        <p>watch the timing of your workouts. Exercising too close to bedtime can be stimulating. Morning workouts that expose you to bright daylight will help the natural circadian rhythm..</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
    