/* ======================================= GENERAL STYLES =======================================*/
h1 {
  color: brown;
}

body{
  background-color: #021c3b;
  width: 100%;
  color: white;
}


/* ======================================= NAVBAR STYLES =======================================*/

/*Sets the size of the image within the navbar*/
#icon_navbar {
    width: 45px;
}

.navbar_main_container {
    background-color: purple;
}

.navbar {
--bs-navbar-padding-y: 0rem;
}



/* ======================================= FOOTER STYLES =======================================*/
#footer_main_container{
   position: fixed;
   left: 0;
   right:0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;

}

fa fa-facebook{
position: right;
right:0;
}

.footer_media_icon {
    text-decoration: none;
    color: black;
}

/* ======================================= HOME PAGE STYLES =======================================*/






/* ======================================= CONTENT SELECTION PAGE STYLES =======================================*/






/* ======================================= CONTENT MEDIA PAGE STYLES =======================================*/






/* ======================================= CONTACT PAGE STYLES =======================================*/