/* ======================================= GENERAL STYLES =======================================*/
h1, h2, h3, h4, h5, h6 {
  font-family:  'Nova Round', cursive; 
  color: #cab1bd;
  font-weight: bold;
}

body{
  background-color: #034854;
  width: 100%;
  height: 100%;
  color: white;
}

main {
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
  margin: 0 0 100px;
  padding: 25px;
}

html {
  position: relative;
  min-height: 100%;
}

/* ======================================= NAVBAR STYLES =======================================*/

/*Sets the size of the image within the navbar*/
#icon_navbar {
    width: 45px;
}

.navbar_main_container {
  background-color: #99bec6;
  /*z-index:500 is needed so the navbar goes on top of the main content when hamburger menu is expanded https: //stackoverflow.com/questions/30997510/body-text-goes-over-the-top-of-fixed-nav-bar*/
  z-index: 500
}

.navbar {
--bs-navbar-padding-y: 0rem;
font-family: 'Nova Round', cursive; 
/*font-style: italic;*/
font-size:large;
}

.navbar-nav a { 
  color: #034854;
  font-weight:bolder;
}


/* ======================================= FOOTER STYLES =======================================*/
#footer_main_container{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;

  background-image: linear-gradient(360deg, #b0dee6, #148ca1, #096372, #034854);
  font-family: 'Nova Round', cursive; 
  color: #DAE6E7;
  text-align: center;
}
/* Removed hyperlink format from media icons*/
.footer_media_icon {
   text-decoration: none;
   color: #DAE6E7;
}
/* Added white space around copy right and icomns from borders of website*/
footer {
 padding: 5%;
}

/* ======================================= HOME PAGE STYLES =======================================*/






/* ======================================= CONTENT SELECTION PAGE STYLES =======================================*/

.content_title {
  /* border: 4px solid rgb(0, 13, 255); */
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
}

.icons_container_external {
    /* background-color: #a9bc74; */
    padding-left: 20%;
    padding-right: 20%;
  }

/* .icons_container {
  background-color: #0e5360;
} */

.button_selection{
  /*display:inline-block is so we can set the .icon_text to be centered */
  display: inline-block;
  background-color: #74b2bc;
  border-radius: 25%;
  margin: 3%;
  width: 12rem;
  height: 10rem;
}

/*Add effect when hovering: change button background color and add a delay of 0.8sec*/
.btn:hover {
  background-color: #ddcbd4;
  transition: 0.8s;
}

.button_selection .icon_text{
  /* display:block and text-align:center is so we can set the .icon_text to be centered */
  text-align: center;
  display: block;
  padding-top: 5%;
  font-family: 'Nova Round', cursive;
  color: #034854;
  font-weight: bold;
}

.button_selection img {
  padding-top: 2%;
}

.icon_selection {
  width: 100px;
  height: 100px;
}


/* ======================================= CONTENT MEDIA PAGE STYLES =======================================*/
.select_another_media_button {
  padding-top: 5%;
}

/* Button from free source code: https: //uiverse.io/mucahit312ataman610/bright-rattlesnake-77*/
.submit_new_media {
  --primary-color: #000;
  --secondary-color: #fff;
  --border-color: #000;
  background-color: var(--primary-color);
  border: 2px solid var(--border-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.submit_new_media::before {
  content: "";
  top: -100%;
  left: 50%;
  width: 150%;
  height: 150%;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(-50%, 0) scale(0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.submit_new_media:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.submit_new_media:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

.submit_new_media:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



/* Free source button https: //uiverse.io/KSAplay/smart-bobcat-50*/
.container_like input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container_like {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container_like input:checked~.checkmark path {
  fill: #FF5353;
  stroke-width: 0;
}

.container_like input:checked~.checkmark {
  animation: like_effect 400ms ease;
}

.container_like:hover {
  transform: scale(1.03);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/* ======================================= CONTACT PAGE STYLES =======================================*/

/* ======================================= CONTACT PAGE STYLES =======================================*/

.contact-page .row {
  display: flex;
  flex-direction: column; /* change the direction of the flex container */
}

.contact-page .card {
  margin-top: 50px;
}

/*.contact-page .card-title, .address {
  font-family: 'Nova Round', cursive;
  font-size: 18px;
}*/

/* ======================================= ADMIN LOGIN =======================================*/

.login_container {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}


.admin_login_form {
  padding-left: 20%;
  padding-right: 20%;

}

.login_title {
  text-align: center;
  padding-bottom: 5%;
}


/* ======================================= ADMIN UPDATE =======================================*/

.submit_button_form {
  background-color: #b4869f;
  border: none;
}


/* ======================================= ADMIN DELETE =======================================*/



/* ======================================= ADMIN VIEW DDBB =======================================*/

.ddbb_container {
  padding-top: 5%;
}

.table_viewddbb{
  background-color: #a6c6cb;
}

.table_row_text {
  font-weight: normal;
}